.block_profile_headline .activitydate,
.block_profile_headline .activityhead {
    text-align: center;
}

.block_profile_headline .unlist li {
    margin-bottom: 1em;
}

.block_profile_headline li .head .date {
    float: right;
}
